{% extends "base.html" %}

{% block content %}
<h1 class="page-title">Профиль</h1>
<p class="page-subtitle">Основная информация пользователя.</p>

<div class="card profile-list">
    <div class="profile-row">
        <span class="profile-label">Имя пользователя</span>
        <span class="profile-value">{{ user.username }}</span>
    </div>

    <div class="profile-row">
        <span class="profile-label">Email</span>
        <span class="profile-value">{{ user.email }}</span>
    </div>

    <div class="profile-row">
        <span class="profile-label">Никнейм</span>
        <span class="profile-value">
            {% if user.nickname %}
                {{ user.nickname }}
            {% else %}
                не указан
            {% endif %}
        </span>
    </div>

    <div class="profile-row">
        <span class="profile-label">Тема</span>
        <span class="profile-value">{{ user.profile.get_theme_display }}</span>
    </div>
</div>
{% endblock %}